* {
    box-sizing: border-box;
}
:root{
    --main-bg: #1c64c9;
    --top-menu-bg: #df7d0d;
    --correct-bg: green;
    --wrong-bg: red;
}
body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto;
  color: white;
}

  


.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
div {
    
}
header, #top-menu
{
 position:relative;
}
#top-menu {
  z-index: 20;
}
.optionCard{
  width:300px;
  margin:20px;
  padding:20px;

  background-color: rgb(14, 0, 0);
  border-radius: 8px;
  
  text-align: center;
}
.hide-button{
  display:none
}
#questions {
  display:flex;
  justify-content: center;
  padding: 2rem;
}

#questions form{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width:800px;
}
#questions form h1{
  grid-column: 1/-1;
  text-align: center;
}
#Name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  height: 100vh;
  flex-direction: column;

}
